services:
    php:
        container_name: lion-packages-dev-php
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - "5175:5175"
        volumes:
            - ./:/var/www/html
        networks:
            - lion

networks:
    lion:
        driver: bridge
