/* --------------------------------- Blocks --------------------------------- */
.blocks {
  position: relative;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 0 transparent;
}

.blocks:hover {
  box-shadow: 0 0 10px var(--bg-lion-orange), 0 0 20px var(--bg-lion-orange);
}

.blocks:hover {
  box-shadow: 0 0 10px var(--bg-lion-orange), 0 0 20px var(--bg-lion-orange);
}
