@font-face {
  font-family: "jetbrains-font";
  src: url("./../fonts/JetBrainsMonoNL-Regular.ttf") format("truetype");
}

:root {
  --bg-lion-orange: #ff8731;
  --bg-lion-dark: #111111;
  --bg-lion-white: #ffffff;
}

.font-code {
  font-family: "jetbrains-font", sans-serif !important;
  font-size: 14.5px !important;
}
/* ---- Backgrounds ---- */
.bg-lion-orange {
  background-color: var(--bg-lion-orange);
}

.bg-lion-dark {
  background-color: var(--bg-lion-dark);
}
/* ---- Text ---- */
.text-lion-orange {
  color: var(--bg-lion-orange);
}
/* ---- Borders ---- */
.border-lion-light {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
/* Buttons */
.btn-orange {
  --bs-btn-color: #fff;
  --bs-btn-bg: #ff8731;
  --bs-btn-border-color: #ff8731;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #da752c;
  --bs-btn-hover-border-color: #cb6d29;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #cb6d29;
  --bs-btn-active-border-color: #bd6626;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #ff8731;
  --bs-btn-disabled-border-color: #ff8731;
}
/* Body */
html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--bg-lion-dark);
  z-index: -1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(100px);
}

#container {
  font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
    Arial, sans-serif;
  height: 100%;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
}

#hero {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}

h1 {
  font-size: 22px;
  margin-top: 0.25em;
}

h2 {
  margin: 0 0 1em;
  font-weight: normal;
  color: #111827;
  font-size: 20px;
}

p {
  color: #4b5563;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.006em;
  margin: 0;
}

#links {
  display: flex;
  gap: 16px;
}

#links a {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  color: #111827;
  text-decoration: none;
  transition: color 0.2s;
}

#links a:hover {
  color: rgb(78, 80, 86);
}

#links a svg {
  height: 1em;
  margin-left: 8px;
}

#links a.button {
  color: white;
  background: linear-gradient(83.21deg, #ffb073 0%, #ff9f59 25%, #ff8731 100%);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.12),
    inset 0 -2px 0 rgba(0, 0, 0, 0.24);
  border-radius: 10px;
}

#links a.button:hover {
  color: rgb(230, 230, 230);
  box-shadow: none;
}

@media screen and (max-width: 768px) {
  #container {
    display: flex;
    flex-direction: column;
  }

  #hero {
    display: block;
    padding-top: 10%;
  }

  h1 {
    line-height: 1.5;
  }

  #links {
    flex-wrap: wrap;
  }

  #links a.button {
    padding: 14px 18px;
  }
}

/* ---------------------------------------------------------------- */

span.hljs-function.hljs-title {
  color: #ffb64e !important;
}

span.hljs-doctag {
  color: #cb7832 !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.nav-tabs {
  --bs-nav-tabs-border-width: 1px;
  --bs-nav-tabs-border-color: #4d4d4c;
  --bs-nav-tabs-border-radius: 0.375rem;
  --bs-nav-tabs-link-hover-border-color: #4d4d4c #4d4d4c #4d4d4c;
  --bs-nav-tabs-link-active-color: #111111;
  --bs-nav-tabs-link-active-bg: #111111;
  --bs-nav-tabs-link-active-border-color: #4d4d4c #4d4d4c #4d4d4c;
  border-bottom: var(--bs-nav-tabs-border-width) solid
    var(--bs-nav-tabs-border-color);
}

.parentDiv {
  width: auto;
  position: relative;
}

.parentDiv > .copyButton {
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 20px;
}

.copyButton:hover {
  border: #111111;
}

.form-control-dark {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff !important;
  background-color: #272b2e;
  background-clip: padding-box;
  border: 1px solid #383d40;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control-dark:focus {
  color: #ffffff;
  background-color: #272b2e;
  border-color: #383d40;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(61, 67, 72, 0.25);
}

.form-control-dark::placeholder {
  color: #ffffff;
}

.list-group-item-dark {
  color: #ffffff !important;
  background-color: #111111 !important;
  border-color: #232323 !important;
}

.list-group-item-dark:hover {
  color: #ffffff !important;
  background-color: #232323 !important;
}

.list-group-item-dark.list-group-item-action.active {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
